trunk/dm.hw5/WebContent/wsdl/MBSearchImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://search.dmhw" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://search.dmhw" xmlns:intf="http://search.dmhw" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://search.dmhw" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="search">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="keywords" type="xsd:string"/>
      <element name="rank" type="xsd:int"/>
      <element name="time" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="searchReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchRequest">

      <wsdl:part element="impl:search" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="searchResponse">

      <wsdl:part element="impl:searchResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="MBSearchImpl">

      <wsdl:operation name="search">

         <wsdl:input message="impl:searchRequest" name="searchRequest"/>

         <wsdl:output message="impl:searchResponse" name="searchResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MBSearchImplSoapBinding" type="impl:MBSearchImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="search">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MBSearchImplService">

      <wsdl:port binding="impl:MBSearchImplSoapBinding" name="MBSearchImpl">

         <wsdlsoap:address location="http://localhost:8080/dm.hw5/services/MBSearchImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
